/* CSS */
html {
    scroll-behavior: smooth;
}

body {
    /* Full height */
    height: 100vh;
    width: 100vw;
}

nav{
    background-color: transparent;
}

.nav-size{
    width: 92%;
}

.main-color {
    background-color: #161616;
}

.first-section {
    margin-top: 10%;
    height: 65vh;
}

.container-padding-top{
    padding-top: 18rem;
}

.section-color {
    background-color: #212121;
    color: #ffffff;
}

.section-size{
    height: 50%;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}


.container-section-one-width {
    width: 100%;
}

.button {
    background-color: #ff520a; /* Green */
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
  }


.generalRed-h4 {
    font-family: sans-serif;
    color: #ff0000;
    font: 20px;
}

.styleScriptMT {
    font-family: 'Script MT';
    font-size: 60px;
    color: #ffffff;
}

.container-width-75{
    width: 75%;
}

.container-width-50{
    width: 50%;
    align-items: center;
    
}

.card_img {
    width: 25rem;
    align-items: center;
}

#card-black {
    background-color: #000000;
}

#pRestaurants {
    color: white;
    font-size: 12px;
    text-align: center;
}

.icon-yellow {
    color: #fff000;
}





header {
    color: #ffffff;
    background-color: #212121;
}

.white-fonts {
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibri-light', Arial, Verdana, sans-serif;
    text-align: left;
    color: #000000;
}

.img-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/caurusel_opacy.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.caurusel-section {
    margin-top: 5%;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-indicators li {
    background-color: #999 !important;
    background-color: rgba(70, 70, 70, .25) !important;
}

.carousel-indicators .active {
    background-color: #444 !important;
}

.card {
    background-color: transparent;
    text-align: center;
    border-style: none;
}

.card-body {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card_img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
}

.card_img_store{
    width: 140px;
    height: 140px;
}

.card-title {
    font-size: 20px;
    color: #ff0000;
}

.card-text {
    font-weight: bold;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    background-color: transparent;
}




/* Media-queries */
/* SM */
@media only screen and (max-width: 400px) and (min-width: 200px) {
    .container-padding-top{
        padding-top: 0;
    }
    .styleGrandHotel{
        font-size: 30px;
        text-align: center;
    }

    .container-width-50{
        width: 100%;
    }

    .container-width-75{
        width: 100%;
    }

    .section-size{
        height: auto;
    }

    .generalRed-h4{
        font-size: 16px;
    }
}

/* MD */

@media only screen and (max-width: 650px) and (min-width: 400) {
    .container-padding-top{
        padding-top: 0;
    }
    .styleGrandHotel{
        font-size: 30px;
        text-align: center;
    }

    .container-width-50{
        width: 100%;
    }

    .container-width-75{
        width: 100%;
    }

    .section-size{
        height: auto;
    }

    .generalRed-h4{
        font-size: 16px;
    }
}
/* LG */
@media only screen and (max-width: 900px) and (min-width: 400px) {
    .container-padding-top{
        padding-top: 0;
    }
    .styleGrandHotel{
        font-size: 30px;
        text-align: center;
    }

    .container-width-50{
        width: 100%;
    }

    .container-width-75{
        width: 100%;
    }

    .section-size{
        height: auto;
    }

    .generalRed-h4{
        font-size: 16px;
    }
}

/* XL */
@media only screen and (max-width: 1100px) and (min-width: 750px) {
    .container-padding-top{
        padding-top: 0;
    }
    .styleGrandHotel{
        font-size: 30px;
        text-align: center;
    }

    .container-width-50{
        width: 100%;
    }

    .container-width-75{
        width: 100%;
    }

    .section-size{
        height: auto;
    }

    .generalRed-h4{
        font-size: 16px;
    }
}